$black: #232323;
$background: linear-gradient(0deg, rgba(246,126,1,0.6597325436959118) 28%, rgba(255,225,159,1) 78%);
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
//background #ffdf8c;